body {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  opacity: 1;
}

.nav {
  top: 0px;
  left: 0px;
  width: 1566px;
  height: 64px;
  background-color: white;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #7b7b7b29;
  opacity: 1;
  margin-top: -23px;
}

.h1-des {
  color: #424242;
  top: 23px;
  left: 137px;
  margin-left: 90px;
  width: 196px;
  height: 49px;
  text-align: left;
  font: normal normal bold 17px/59px Inter;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0px;
  opacity: 1;
}

.h1one {
  color: #00a5ec;
}

.add {
  text-align: left;
  font: normal normal normal 22px/26px Inter;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
  float: right;
}

.addp {
  display: inline;
  font-size: 20px;
  position: absolute;
  right: 320px;
  top: 102px;
}

i {
  display: inline-block;
}
.containermain {
  display: block-grid;
  column-gap: 50px;
  max-width: 1090px;
  margin-left: 200px;
}
.childcontainer {
  top: 220px;
  left: 139px;
  width: 280px;
  height: 280px;
  display: inline-block;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 50px;
  opacity: 1;
  box-shadow: 3px 3px 3px 2px #888888;
}

.childcontainer:hover {
  box-shadow: 0 5px 15px rgba(62, 48, 48, 0.877);
}

.boxtextmain {
  font-size: 18px;
  font: normal normal medium 20px/24px Inter;
  letter-spacing: 0px;
  color: #00a5ec;
  opacity: 1;
  margin-left: 25px;
  font-family: "Times New Roman", Times, serif;
}

.labelfirst {
  text-decoration: line-through;
  text-align: left;
  font: normal normal normal 18px/21px Inter;
  letter-spacing: 0px;
  color: #c2c2c2;
  opacity: 1;
}

.labelsec {
  text-align: left;
  font: normal normal normal 18px/21px Inter;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}

form {
  margin-left: 20px;
  margin-top: 20px;
}

.taskbox1 {
  width: 500px;
  height: 250px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #67676729;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.taskp {
  font-weight: bold;
  font-size: 18px;
  color: #404040;
  opacity: 1;
  margin-left: 15px;
}

.learn {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 4px;
  opacity: 1;
  width: 460px;
  height: 40px;
  margin-top: 30px;
  margin-left: 20px;
  color: #858585;
}

.plearn {
  display: flex;
  justify-content: center;
  margin-right: 370px;
  margin-top: 10px;
}

.plearn2 {
  display: flex;
  justify-content: center;
  margin-right: 300px;
  margin-top: 10px;
}

button {
  background: #00a5ec 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  width: 180px;
  height: 48px;
  border: 0px;
  color: #ffffff;
}

#closei {
  float: right;
  margin-right: 20px;
  font-size: 20px;
  color: #858585;
  font-size: 22px;
}

.container-trip {
  top: 220px;
  left: 139px;
  width: 400px;
  height: 280px;
  display: inline-block;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 160px;
  opacity: 1;
  box-shadow: 3px 3px 3px 2px #888888;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.back {
  display: inline;
}

.nav-page {
  position: absolute;
  right: 890px;
  top: 120px;
  font-size: 22px;
}

iframe {
  width: 100vw;
  height: 100vh;
  filter: blur(9px);
}

.add-page {
  float: left;
  margin-right: 100px;
  margin-top: 40px;
  font-size: 22px;
}

.fa-solid.fa-circle-plus {
  color: #00a5ec;
  font-size: 35px;
  position: absolute;
  top: 90px;
  right: 700px;
  margin-top: 28px;
}
.addp2 {
  font-size: 20px;
  position: absolute;
  right: 570px;
  top: 123px;
}

a {
  color: #424242;
}

a:link {
  text-decoration: none;
}

.boxhr {
  margin-top: 15px;
}
